after-login-command = []
after-startup-command = []

start-at-login = true

enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

accordion-padding = 0

default-root-container-layout = 'tiles'

default-root-container-orientation = 'auto'

key-mapping.preset = 'qwerty'

on-focused-monitor-changed = ['move-mouse monitor-lazy-center']
on-focus-changed = ["move-mouse window-lazy-center"]

[gaps]
inner.horizontal = 0
inner.vertical = 0
outer.left = 0
outer.bottom = 0
outer.top = 0
outer.right = 0

[mode.main.binding]

ctrl-shift-slash = 'layout tiles horizontal vertical'
ctrl-shift-comma = 'layout accordion horizontal vertical'

ctrl-shift-h = 'focus left'
ctrl-shift-j = 'focus down'
ctrl-shift-k = 'focus up'
ctrl-shift-l = 'focus right'

ctrl-alt-shift-h = 'move left'
ctrl-alt-shift-j = 'move down'
ctrl-alt-shift-k = 'move up'
ctrl-alt-shift-l = 'move right'

#ctrl-shift-w = ['move-mouse monitor-lazy-center']
#ctrl-shift-e = ['move-mouse monitor-lazy-center']

ctrl-alt-shift-w = ['move-node-to-monitor up', 'move-mouse monitor-lazy-center']
ctrl-alt-shift-e = [
    'move-node-to-monitor down',
    'move-mouse monitor-lazy-center',
]

ctrl-shift-minus = 'resize smart -150'
ctrl-shift-equal = 'resize smart +150'

ctrl-shift-1 = 'workspace 1'
ctrl-shift-q = 'workspace 1'
ctrl-shift-2 = 'workspace 2'
ctrl-shift-w = 'workspace 2'
ctrl-shift-3 = 'workspace 3'
ctrl-shift-e = 'workspace 3'
ctrl-shift-4 = 'workspace 4'
ctrl-shift-r = 'workspace 4'
ctrl-shift-5 = 'workspace 5'
ctrl-shift-t = 'workspace 5'
ctrl-shift-6 = 'workspace 6'
ctrl-shift-y = 'workspace 6'
ctrl-shift-7 = 'workspace 7'
ctrl-shift-u = 'workspace 7'
ctrl-shift-8 = 'workspace 8'
ctrl-shift-i = 'workspace 8'
ctrl-shift-9 = 'workspace 9'
ctrl-shift-o = 'workspace 9'
ctrl-shift-0 = 'workspace 10'
ctrl-shift-p = 'workspace 10'

ctrl-alt-shift-1 = ['move-node-to-workspace 1', 'workspace 1']
ctrl-alt-shift-2 = ['move-node-to-workspace 2', 'workspace 2']
ctrl-alt-shift-3 = ['move-node-to-workspace 3', 'workspace 3']
ctrl-alt-shift-4 = ['move-node-to-workspace 4', 'workspace 4']
ctrl-alt-shift-5 = ['move-node-to-workspace 5', 'workspace 5']
ctrl-alt-shift-6 = ['move-node-to-workspace 6', 'workspace 6']
ctrl-alt-shift-7 = ['move-node-to-workspace 7', 'workspace 7']
ctrl-alt-shift-8 = ['move-node-to-workspace 8', 'workspace 8']
ctrl-alt-shift-9 = ['move-node-to-workspace 9', 'workspace 9']
ctrl-alt-shift-0 = ['move-node-to-workspace 10', 'workspace 0']

ctrl-alt-shift-f = 'fullscreen'
ctrl-alt-shift-d = 'macos-native-minimize'
ctrl-alt-shift-r = 'flatten-workspace-tree'

ctrl-shift-tab = 'workspace-back-and-forth'
# ctrl-alt-shift-tab = 'move-node-to-monitor --wrap-around next'

ctrl-shift-semicolon = 'mode service'

[mode.service.binding]
esc = ['reload-config', 'mode main']
r = ['flatten-workspace-tree', 'mode main']
f = ['layout floating tiling', 'mode main']
backspace = ['close-all-windows-but-current', 'mode main']

ctrl-shift-h = ['join-with left', 'mode main']
ctrl-shift-j = ['join-with down', 'mode main']
ctrl-shift-k = ['join-with up', 'mode main']
ctrl-shift-l = ['join-with right', 'mode main']

[[on-window-detected]]
if.app-id = 'md.obsidian'
run = "move-node-to-workspace 1"

[[on-window-detected]]
if.app-id = 'com.brave.Browser'
run = "move-node-to-workspace 2"

[[on-window-detected]]
if.app-id = 'com.jetbrains.WebStorm'
run = "move-node-to-workspace 3"

[[on-window-detected]]
if.app-id = 'com.jetbrains.pycharm.ce'
run = "move-node-to-workspace 3"

[[on-window-detected]]
if.app-id = 'com.mitchellh.ghostty'
run = "move-node-to-workspace 4"

[[on-window-detected]]
if.app-id = 'dev.zed.Zed'
run = "move-node-to-workspace 5"

[[on-window-detected]]
if.app-id = 'com.apple.Notes'
run = "move-node-to-workspace 7"

[[on-window-detected]]
if.app-id = 'org.keepassxc.keepassxc'
run = "move-node-to-workspace 8"

[[on-window-detected]]
if.app-id = 'com.tinyspeck.slackmacgap'
run = "move-node-to-workspace 9"

[[on-window-detected]]
if.app-id = 'com.spotify.client'
run = "move-node-to-workspace 10"

[workspace-to-monitor-force-assignment]
7 = 'built-in'
8 = 'built-in'
9 = 'built-in'
10 = 'built-in'
