console_title_template = '{{ .Shell }} in {{ .Folder }}'
version = 3
final_space = true

[[blocks]]
  type = 'prompt'
  alignment = 'left'

  [[blocks.segments]]
    template = ' {{ if .WSL }}WSL at {{ end }}{{.Icon}} '
    foreground = '#000000'
    background = '#d3d7cf'
    type = 'os'
    style = 'diamond'

    [blocks.segments.properties]
      cache_duration = 'none'

  [[blocks.segments]]
    template = '  {{ .Folder }} '
    foreground = '#e4e4e4'
    powerline_symbol = ''
    background = '#4c566a'
    type = 'path'
    style = 'powerline'

    [blocks.segments.properties]
      cache_duration = 'none'
      home_icon = '~'
      style = 'full'

  [[blocks.segments]]
    template = ' {{ .UpstreamIcon }}{{ .HEAD }}{{if .BranchStatus }} {{ .BranchStatus }}{{ end }}{{ if .Working.Changed }}  {{ .Working.String }}{{ end }}{{ if and (.Working.Changed) (.Staging.Changed) }} |{{ end }}{{ if .Staging.Changed }}  {{ .Staging.String }}{{ end }}{{ if gt .StashCount 0 }}  {{ .StashCount }}{{ end }} '
    foreground = '#000000'
    powerline_symbol = ''
    background = '#88c0d0'
    type = 'git'
    style = 'powerline'
    background_templates = ['{{ if or (.Working.Changed) (.Staging.Changed) }}#ebcb8b{{ end }}', '{{ if and (gt .Ahead 0) (gt .Behind 0) }}#d08770{{ end }}', '{{ if gt .Ahead 0 }}#f26d50{{ end }}', '{{ if gt .Behind 0 }}#4e9a06{{ end }}']

    [blocks.segments.properties]
      branch_icon = ' '
      cache_duration = 'none'
      fetch_stash_count = true
      fetch_status = true
      fetch_upstream_icon = true

[[blocks]]
  type = 'rprompt'
  alignment = 'right'

  [[blocks.segments]]
    template = ' {{ if .PackageManagerIcon }}{{ .PackageManagerIcon }} {{ end }}{{ .Full }}  '
    foreground = '#ffffff'
    powerline_symbol = ''
    background = '#a3be8c'
    type = 'node'
    style = 'powerline'
    invert_powerline = true

    [blocks.segments.properties]
      cache_duration = 'none'
      fetch_version = true

  [[blocks.segments]]
    template = ' {{ if .Error }}{{ .Error }}{{ else }}{{ .Full }}{{ end }}  '
    foreground = '#111111'
    powerline_symbol = ''
    background = '#FFDE57'
    type = 'python'
    style = 'powerline'
    invert_powerline = true

    [blocks.segments.properties]
      cache_duration = 'none'
      display_default = false

  [[blocks.segments]]
    template = '  '
    foreground = '#111111'
    powerline_symbol = ''
    background = '#ffff66'
    type = 'root'
    style = 'powerline'
    invert_powerline = true

    [blocks.segments.properties]
      cache_duration = 'none'

  [[blocks.segments]]
    template = ' {{ .FormattedMs }}  '
    foreground = '#000000'
    powerline_symbol = ''
    background = '#ebcb8b'
    type = 'executiontime'
    style = 'powerline'
    invert_powerline = true

    [blocks.segments.properties]
      cache_duration = 'none'

  [[blocks.segments]]
    template = ' {{ if gt .Code 0 }}{{ reason .Code }}{{ else }}{{ end }} '
    foreground = '#d3d7cf'
    powerline_symbol = ''
    background = '#000000'
    type = 'status'
    style = 'powerline'
    background_templates = ['{{ if gt .Code 0 }}#bf616a{{ end }}']
    invert_powerline = true

    [blocks.segments.properties]
      always_enabled = true
      cache_duration = 'none'

  [[blocks.segments]]
    template = ' {{ .CurrentDate | date .Format }}  '
    foreground = '#000000'
    background = '#eceff4'
    type = 'time'
    style = 'diamond'
    invert_powerline = true

    [blocks.segments.properties]
      cache_duration = 'none'
